ul {
    margin-top: -6px;
    align-content: center;
    list-style-type:none;
    text-align: left;
    background-color: wheat;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    border-style: groove;
    padding-left: 1200px;
}

body {
    background-color: steelblue;
}

form {
    margin: auto;
    text-align: center;
    background-color: burlywood;
    height: 480px;
    align-self: auto;
    border-radius: 15px;
    width: 300px;
    border-color: black;
    border-style: solid;
    border-width: 7px;
    margin-bottom: 20px;
    justify-content: center;
}

footer {
    border-style: groove;
    background-color: wheat;
    border-color: black;
}

.secciones {
    height: 60px;
    font-family: 'Arial';
    justify-content: center;
}

